body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    /* background-image: url(../images/image2.png);
    background-size: 50% auto;
    background-repeat: no-repeat; */
    /* width: 250px;
    height: 250px;
    background-color: orange;     */
    display: flex;
    align-items: center;
    animation: 5s scale infinite;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}



@keyframes text {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

#fuck-you {
    animation: 5s text infinite;
    font-size: 100px;
}